*,
*:before,
*:after {
  box-sizing: border-box;
}
.container {
  width: 1091px;

}
ul#templates {
  display: flex;
  position: relative;
  left: 0;
  transition: all 0.35s ease-in-out;
}
ul#templates li {
  width: 353px;
  height: 340px;
  margin-right: 16px;
  flex: 1 0 auto;
  transition: all 0.2s ease-in-out;
  transform: scale(1);
}

ul li:hover {
  cursor: pointer;
  
}
.carousel-wrapper {
  overflow: hidden;


}
