@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

/* 套用字體 */
@font-face {
    font-family: ROGFonts;
    src: url(../webfonts/ROGFonts.otf);
}

/* 重置所有標籤的樣式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* RWD不累加內距padding與邊框border */
}

/* 重置字體 */
body {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 100%;
    line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-family: "Noto Sans TC", sans-serif;
}

/* 重置列表 */
ul,
ol {
    list-style: none;
}

/* 重置圖片 */
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* 重置連接 */
a {
    /* 已知此網頁的a都"不是文字超連結"，因此先把a設定為區塊 */
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-family: "Noto Sans TC", sans-serif;
}

:root {
    /* 主色調 */
    --Orange: #FEB75D;
    --Lightblue: #55c9ea;
    --Blue: #013B63;
    --Darkblue: #000E2B;
    --White: #ffffff;
    --Blue2: #287DA2;

    /* 透明色 */
    --Lightblue_04: rgb(85, 201, 234, .4);
    --Darkblue_05: rgb(0, 14, 41, .5);


    /* 漸層色 */
    --White-White: rgba(255, 255, 255, .4) 0%, rgba(255, 255, 255, .1) 30%, rgba(255, 255, 255, .4) 100%;
    --ToRight-Blue-Darkblue: var(--Darkblue) 0%, var(--Blue) 25%, var(--Blue2) 50%, var(--Blue) 75%, var(--Darkblue) 100%;
    --ToRight-White-Orange: #fff 0%, #FEB75D 47%, #FC8D00 98%;
    --ToRight-Lightblue-Darkbllue: var(--Blue2) 5%, var(--Blue) 28%, var(--Darkblue) 61%;
    --Lightblue-Lightblue: rgba(85, 201, 234, .5), 50%, rgba(85, 201, 234, .0) 95%;
    --Orange-Darkblue: var(--Orange) 0%, rgba(0, 14, 43, .0) 80%;
    --Orange-Lightblue-Orange: var(--Orange) 0%, var(--Lightblue_04) 50%, var(--Orange) 100%;
    --Blue-Darkblue: #287DA2 0%, var(--Blue) 40%, var(--Darkblue) 80%;
    --Blue-Darkblue-Blue: var(--Blue) 5%, var(--Darkblue) 55%, var(--Blue) 85%;
    --Darkblue-Blue: var(--Darkblue) 38%, var(--Blue) 100%;
    --Lightblue-White: #fff 0%, var(--Lightblue) 100%;
    --Orange-White: var(--Orange) 0%, #fff 100%;
}


/* 頁首區 */
header {
    background-color: var(--Darkblue);
    width: 100%;
    height: 80px;
    position: fixed;
    /*頁首釘選*/
    z-index: 999;
}

.topbar {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 80px;
}

.menuList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
}

.menuList h1 {
    width: 129px;
}

.menuItem ul {
    display: flex;
}


.menuItem ul li a {
    padding-bottom: 3px;
    margin-left: 40px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    /* border-bottom: solid 2px transparent; */
}

.menuItem ul li a:hover {
    color: var(--Orange);
    transition: 0.5s;
    /* border-bottom: solid 1px var(--Orange); */
}

section {

    height: 100vh;
}

/* customize網頁區 */
/* fixed header區 */
#fixedTopbar {
    background-color: var(--Darkblue);
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 999;
    /* border-bottom: 1px solid white; */
}

#fixedTopbar .topbar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 80px;
}

#fixedTopbar .menuList .rightList {
    display: flex;
    align-items: center;
}

#fixedTopbar .rightList .customizeBtn {
    margin-right: 30px;
    /* width: 132px; */
    width: 120px;
    height: fit-content;
    text-align: center;
    padding: 8px;
    border: 2px solid transparent;
    border-image: linear-gradient(135deg, var(--Lightblue-White)) 1 round;
    position: relative;
    /* animation: rotate 3s linear infinite; */
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
}

#fixedTopbar .rightList .customizeBtn:hover {
    color: var(--Orange);
    transition: 0.5s;
    border: 2px solid transparent;
    border-image: linear-gradient(135deg, var(--Orange-White)) 1 round;
}

#fixedTopbar .rightList a {
    width: 40px;
    height: 40px;
}

#fixedTopbar .rightList .cartBtn {
    background-image: url(../images/cartBtnICON.svg);
}

#fixedTopbar .rightList .cartBtn:hover {
    transition: 0.5s;
    background-image: url(../images/cartBtnICON_1.svg);
}


@keyframes rotate {
    0% {
        border-image: linear-gradient(0deg, var(--Lightblue-White)) 1 round;
    }

    50% {
        border-image: linear-gradient(180deg, var(--Lightblue-White)) 1 round;
    }

    100% {
        border-image: linear-gradient(360deg, var(--Lightblue-White)) 1 round;
    }
}

/* 品牌理念 */

/* 上半部 */
#banner {
    background-image: url(../images/brandConcept-background.png);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    background-position: center center;
    /*背景圖片置中剪裁*/
}

/* 上半部標題內容 */
#banner .textArea {
    flex: 1;
    margin: 0 0 0 50;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82%
}

/* vser LOGO */
.brandName {
    width: 330px;
    margin-right: 10px;
}

/* vser 意涵 */
.sloganNbtn {
    width: fit-content;
}

.sloganNbtn h3 {
    font-family: ROGFonts, sans-serif;
    font-size: 30px;
    letter-spacing: .2rem;
    color: #ffffff;
}

/* 上半部 滾條 */
#banner .roller {
    background-image: linear-gradient(to right, var(--ToRight-Lightblue-Darkbllue));
    width: 100%;
    height: 6%;
    display: flex;
    align-items: center;
}

#banner .roller p {
    color: #ffffff;
}

/* 下半部 */
#content {
    width: 100%;
    height: 155%;
    background-image: linear-gradient(to right, var(--ToRight-Blue-Darkblue));
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#content .title {
    position: relative;
    width: 900px;
    height: 180px;
    /* background-color: #FC8D00; */
    left: 50%;
    transform: translate(-50%, 0);
}

#content .title .titleBig {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: fit-content;
    width: max-content;
    z-index: 990;

}

.IntroductionArea {
    width: 100%;
    height: 100%;
}

.box__list {
    /* 水平排 */
    display: flex;
    justify-content: center;
}

.box__list .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10px;
    width: 26.55%;
    color: #ffffff;
}

.item img {

    border-radius: 0 15px 0 0;
    border: solid 2px transparent;
    border-radius: 0 15px 0 0;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(252, 250, 250, .0)),
        linear-gradient(to bottom, var(--Lightblue-Lightblue));
    background-origin: border-box;
    background-clip: content-box, border-box;

}

.item .content {
    margin: 15px 0 0 0;
    text-align: center;
}


.jerseyIntroduction {
    position: relative;
    margin-top: 50px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.copyWriting {
    position: absolute;
    width: 400px;
    height: 170px;
    right: 0;
    margin-top: 40px;
}

.copyWriting .title-2 {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 990;
    background-image: linear-gradient(to right, var(--Blue-Darkblue));
}

.textTitle {
    position: absolute;
    z-index: 990;
    width: 100%;
    height: 100%;
    flex: 1;
}



.bevel {
    background: linear-gradient(120deg, transparent 25px, var(--Orange-Darkblue) 0)top right;
    width: fit-content;

}

.title .bevel {
    position: absolute;
    left: 570px;
    top: 110px;

}

.title-2 .bevel {
    position: absolute;
    left: 152px;
    top: 110px;
}

.jerseyIntroduction .content {
    display: flex;
    border-right: #ffffff solid 2px;
    border-bottom: #ffffff solid 2px;
    margin: 140px 80px 0 0;
    width: 320px;
    height: fit-content;
    /* right: 80px;
    top:137px;
    z-index: 889; */
}

.jerseyIntroduction .content p {
    letter-spacing: 0.08rem;
    color: #ffffff;
    background-image: linear-gradient(to right, var(--White-White));
    padding: 105px 35px 40px 35px;
    line-height: 30px
}

.bigPicture {
    /* position: absolute; */
    left: 0;
    width: 140%;
    /* height: 100%; */
    z-index: 888;
}

.bigPicture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Test {
    display: flex;
    width: 100%;
    height: 100%;
}

.jerseyIntroduction .button {
    position: absolute;
    z-index: 990;
    right: 360px;
    top: 370px;
    /* border: 1px solid #e11212; */
    letter-spacing: 0.08rem;

}

.jerseyIntroduction a {
    width: fit-content;
    height: fit-content;

    background-color: #000E2B;
    padding: 12px 40px 12px 40px;
    margin: 20px 0;
}

/* 下半部 滾條 */
#content .roller {
    background-image: linear-gradient(to right, var(--ToRight-Lightblue-Darkbllue));
    width: 100%;
    height: 37.44px;
    display: flex;
    align-items: center;
}


/* 專案成果 */

/* 上半部 */
#projectBanner {
    position: relative;
    background-image: linear-gradient(to right, var(--ToRight-Blue-Darkblue));
    width: 100%;
    height: 100vh;

}

/* 背景藍色色塊 */
.blueBlock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 700;
    width: 33.5%;
    height: 100%;
    background-color: #013B63;
    z-index: 1;
}

/* 裝飾小方塊 */
.smallSquares {
    position: absolute;
    bottom: 113px;
    left: 80px;
    width: 17px;
    height: 28px;
    border: 1.5px solid var(--Orange);
    z-index: 5;
}

/* 裝飾斜方塊 */
.smallIncline {
    position: absolute;
    bottom: 50px;
    left: 200px;
    /* background: linear-gradient(120deg, transparent 9px, var(--Orange) 0)right; */
    width: 42px;
    height: 17px;
    background-color: #FEB75D;
    z-index: 999;
}

/* 長方形選單 */
.rectangularMenu {
    display: flex;
    position: absolute;
    right: 80px;
    top: 68%;
    z-index: 5;
    width: 58%;
    height: 141px;
    /* background-color: #e11212; */
    z-index: 5;


}

/* 長方形小選單 */

.rectangularMenu .menu-1,
.rectangularMenu .menu-2 {
    display: flex;
    width: 100%;
    height: 100%;
    margin-left: 15px;
    color: #000E2B;
    opacity: 0.8;
}

.rectangularMenu .menu-1:hover,
.rectangularMenu .menu-2:hover {
    opacity: 1;
    transition: 0.5s;
}

.rectangularMenu .menu-2 .figure,
.rectangularMenu .menu-1 .figure {
    width: 50%;
    height: 100%;
    background-position: center;
    /*下面四張圖置中裁切*/
    background-size: cover;
    /*縮放到適合位置*/
}

.rectangularMenu .menu-2 .figure {
    background-image: url(../images/projectResults_rectangleThumbnail2.png);
}

.rectangularMenu .menu-1 .figure {
    background-image: url(../images/projectResults_rectangleThumbnail1.png);
}

@media (max-width:1024px) {
    .rectangularMenu .menu-2 .figure,
    .rectangularMenu .menu-1 .figure {
        width: 35%;
    }
}



.rectangularMenu .word {
    width: 50%;
    height: 100%;
    background-color: var(--Orange);
}
@media (max-width:1024px) {
    .rectangularMenu .word{
        width: 65%;
    }
}

.rectangularMenu .word h4 {
    font-family: ROGFonts, sans-serif;
    font-size: 21px;
    letter-spacing: .1rem;
    line-height: 22px;
    padding: 14px 0 0 14px;
}


.rectangularMenu .word p {
    position: static;
    letter-spacing: normal;
    font-size: 16px;
    font-weight: 550;
    right: 20px;
    padding: 7px 14px 0 0;
    text-align: right;
}

/* 圖文開始 */
.contentArea {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    /* border:1px solid #e11212; */
    z-index: 3;
}

/* 主圖 */
.projectTheme1,
.projectTheme {
    width: 100%;
    height: 77%;
    background-position: center;
    /*下面四張圖置中裁切*/
    background-size: cover;
    /*縮放到適合位置*/
}

.projectTheme {
    background-image: url(../images/pojectResults-projectTheme.svg);
}

.projectTheme1 {
    background-image: url(../images/pojectResults-projectTheme-1.png);
}


/* 主圖下方文字 */
.projectContent {
    width: 100%;
    height: 21%;
    /* background-color: #e11212; */
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: absolute;
    bottom: 0%;
}

/* 左邊文字區塊 */
.pjTitle {
    position: relative;
    width: 33%;
    height: 100%;
    /* background-color: #e11212; */
}

/* 浮水印 */
.textWatermark,
.textWatermark1 {
    position: absolute;
    left: -20px;
    width: fit-content;
    height: fit-content;
    top: 50%;
    transform: translate(0, -50%);
}

.textWatermark h1,
.textWatermark1 h1 {
    font-family: ROGFonts, sans-serif;
    font-size: 66px;
    letter-spacing: .2rem;
    color: transparent;
    line-height: 59px;
    -webkit-text-stroke: 1px rgb(255, 255, 255, 0.2);
    z-index: 4;

}

/* 文字標題 */
.pjTitle .Title {
    position: absolute;
    z-index: 5;
    right: 0px;
    width: fit-content;
    height: fit-content;
    top: 50%;
    transform: translate(0, -50%);
    padding-right: 40px;
}

.pjTitle .Title h2,
.pbTitle h2 {
    font-family: ROGFonts, sans-serif;
    font-size: 45px;
    letter-spacing: .2rem;
    line-height: 50px;
    color: #ffffff;
}

/* 右邊小字處 */
.pjWord,
.pjWord1 {
    position: relative;
    right: 0;
    width: 67%;
    height: 100%;
    margin-right: 80px;
}
@media (max-width:1024px){
    .pjWord,
    .pjWord1{
        right: -27px;
        width: 57%;
    }
}



.pjWord p,
.pjWord1 p {
    position: absolute;
    color: #ffffff;
    z-index: 4;
    bottom: 20%;
    right: 0px;
    letter-spacing: .08rem;
}

/* 下半部 */
#projectjJersey {
    position: relative;
    background-image: linear-gradient(to right, var(--ToRight-Blue-Darkblue));
    width: 100%;
    height: 475px;
}

.pjBox__list,
.pjBox__list1 {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    /* background-color: #FC8D00; */
    width: 85%;
    height: 400px;
    z-index: 2;
    margin: 30px 0 40px 0;
    justify-content: space-between;
}

.pjshape {
    /* margin: 0 10px 0 0 ; */
    /* background-color: aqua; */
    width: 30%;
    height: 100%;
    background-position: center;
    /*下面四張圖置中裁切*/
    background-size: cover;
    /*縮放到適合位置*/
}

.svc-1 {
    background-image: url(../images/projectResults_pjshape2.png);
}

.svc-2 {
    background-image: url(../images/projectResults_pjshape4.png);
}

.svc-3 {
    background-image: url(../images/projectResults_pjshape3.png);
}

.svc-4 {
    background-image: url(../images/projectResults1_pjshape1.png);
}

.svc-5 {
    background-image: url(../images/projectResults1_pjshape2.png);
}

.svc-6 {
    background-image: url(../images/projectResults1_pjshape3.png);
}


/* 商品瀏覽 */
#productBrowsing {
    position: relative;
    padding-top: 80px;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, var(--ToRight-Blue-Darkblue));
}

/* 背景底圖 */
.backgroundBasemap {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 88vh;
    background-position: top;
    /*下面四張圖置中裁切*/
    background-size: cover;
    /*縮放到適合位置*/
    mix-blend-mode: overlay;
    opacity: .7;
}

.bgsvc-1 {
    background-image: url(../images/productBrowsing_backgroundBasemap1.png);
}

.bgsvc-2 {
    background-image: url(../images/productBrowsing_backgroundBasemap2.png);
}

.productBrowsing {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 88vh;
}

.pbTitleMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 30%;
}

/* 標題 */
.pbTitle {
    padding-left: 80px;
    padding-bottom: 20px;
    padding-top: 20px;
}

/* 選單 */
.pbMenu {
    padding-left: 80px;
}

/* 平行四邊選單 */
.pbItem {
    position: relative;
    width: fit-content;
    z-index: -1;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 2px solid;
    border-image-source: linear-gradient(to right, #55c9ea, #ffffff);
    border-image-slice: 1;
    transform: skew(-30deg);
}

/* 平行四邊選單垂直排 */
.pbItem ul {
    display: flex;
}

/* 平行四邊選單右邊間隔線 */
.pbItem ul li {
    padding: 7px 60px 7px 60px;
    border-right: solid 2px #ffffff;
}

/* 平行四邊選單最後間隔線取消 */
.pbItem ul li:last-child {
    border-right: none;
}

/* 平行四邊選單文字取消請斜 */
.pbItem a {
    display: block;
    transform: skew(30deg);
}

/* 款式 */
.pbCommodity {
    padding: 10px 80px 50px 80px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70%;
    /* border: 2px solid #8600fc; */
    overflow: hidden;
    position: relative;
}

.arrow1 {
    background-image: url(../images/productBrowsing_icon_1.svg);
    width: 35px;
    height: 60px;
    position: absolute;
    z-index: 999;
    right: 60px;
    top: 42%;
}

.arrow2 {
    background-image: url(../images/productBrowsing_icon_2.svg);
    width: 35px;
    height: 60px;
    position: absolute;
    z-index: 999;
    left: 60px;
    top: 42%;
}

li.pbShape {
    position: relative;
    width: 353.6px;
    height: 100%;
    /* height: 80%; */
    /* border: 1px solid #FFFFFF; */
    margin-right: 20px;
    overflow: hidden;

}

/* 滑過變色 */
.pbShape:hover .frame {
    /* 底與框 */
    border: 3px solid transparent;
    border-radius: 15px 0 15px 0;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(-45deg, var(--Blue-Darkblue-Blue)),
        linear-gradient(-45deg, var(--Orange-Lightblue-Orange));
}


.pbShape:hover .pbBescribe {

    bottom: 0;
    height: 45%;
    background-image: linear-gradient(180deg, var(--Darkblue-Blue)), linear-gradient(45deg, var(--Orange-Lightblue-Orange));
    /* mix-blend-mode: multiply; */
    opacity: .8;
}

.pbShape .pbBescribe .pbText {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    mix-blend-mode: normal;
    opacity: normal;
}

.pbShape .pbBescribe .pbTBtn {
    margin-top: 15px;
    width: 60%;
    height: 43px;
    border: 1px solid #ffffff;
    border-radius: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
    mix-blend-mode: normal;
    opacity: normal;
}



.pbShape:last-child {
    margin-right: unset;
    /* 承上 menu 按鈕間的線最後一個刪除 */
}

/* 透明淺藍框 */
.frame {
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: 90%;
    border: 3px solid var(--Lightblue_04);
    border-radius: 15px 0 15px 0;

}

/* 小方框 */
.smallBox {
    position: absolute;
    z-index: 990;
    top: 10%;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: var(--Lightblue_04);
}

.smallBoxIcon {
    position: absolute;
    display: flex;
    background-image: url(../images/productBrowsing_love.svg);
    width: 30px;
    height: 25.5px;
    background-position: center;
    /*下面四張圖置中裁切*/
    background-size: contain;
    /*縮放到適合位置*/
    top: 50%;
    left: 46%;
    transform: translate(-50%, -46%);
}

/* 商品圖片區 */
.pbShape .pbshapeimg {
    position: absolute;
    top: -12px;
    width: 100%;
    height: 79%;
    /* background-color: #df7e1d; */
}

/* 圖片區開始*/
.pbShape .pbshapeimg .pbImage {
    position: absolute;
    width: 60%;
    height: 100%;
    background-position: center;
    /*下面四張圖置中裁切*/
    background-size: cover;
    /*縮放到適合位置*/
}

/* 圖片(前) */
.pbShape .pbshapeimg .A {
    /* background-color: #770f16; */
    position: absolute;
    z-index: 3;
    left: 20px;
}

/* 圖片(後) */
.pbShape .pbshapeimg .B {
    /* background-color: #2e0f77; */
    z-index: 2;
    right: 20px;
}

/* 塞圖片 */
.pbshapeimg .svc-1 {
    background-image: url(../images/productBrowsing_pbShapeA_1.png);
}

.pbshapeimg .svc-2 {
    background-image: url(../images/productBrowsing_pbShapeA_2.png);
}

/* 商品文案區 */
.pbShape .pbBescribe {
    position: absolute;
    z-index: 3;
    bottom: -52px;
    width: 100%;
    color: #fff;
    padding: 10px 30px 20px 30px;
    height: 45%;
    /* background-image: linear-gradient(180deg, var(--Darkblue-Blue)), linear-gradient(45deg, var(--Orange-Lightblue-Orange)); */
    border: 3px solid transparent;
    border-radius: 0 0 15px 0;
    background-clip: padding-box;
    background-origin: padding-box, border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 文字區 */
.titleBig h2 {
    font-family: ROGFonts, sans-serif;
    width: fit-content;
    font-size: 45px;
    letter-spacing: .2rem;
    color: #ffffff;
    padding-top: 40px;
    padding-bottom: 30px;
    line-height: 60px
}

.textTitle h3 {
    font-family: ROGFonts, sans-serif;
    font-size: 30px;
    letter-spacing: .2rem;
    padding-top: 10px;
    padding-left: 30px;
    /* padding-bottom: 30px; */
    color: #ffffff;
    /* background-image: linear-gradient(to right, var(--ToRight-Blue-Darkblue)); */
}

h4 {
    font-size: 20px;
    letter-spacing: .12rem;
    color: #ffffff;
    /* background-image: linear-gradient(to right, var(--Orange-Darkblue)); */

}

h5 {
    font-size: 12px;
    letter-spacing: .08rem;
    color: #ffffff;

}

.bevel h4 {
    padding-left: 50px;
    padding-top: 5px;
    padding-right: 40px;
    padding-bottom: 5px;
}

.word h4 {
    color: var(--Darkblue);
}


/* footer區 */
footer {
    background-color: var(--Darkblue);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
    width: 100%;
    height: 170px;

}

.footerList {
    display: flex;

}

.footerItem {
    padding-right: 80px;
    font-size: 18px;
}

.footerItem li {
    padding-top: 8px;
    font-size: 12px;
}

.footerItem li:first-child {
    padding-top: 24px;
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer div img {
    width: 217px;
}

footer div small {
    padding-top: 12px;
}